$font: Arial, sans-serif;
$font-med: Arial, sans-serif;
$font-semi: Arial, sans-serif;

$base-font-family: $font;
$base-title-family: $font;
$base-font-size: 16px;
$base-font-size-nounit: 16;
$line-height-ratio: 1.4;

$linkedin: #0077b5;
$facebook: #3b5998;
$twitter: #54aaec;
$google: #d34836;
$youtube: #bb0000;

// Containers
$container-width: 1000px !default;
$wrapper-width: 100%;

// Map
$google-map-full: false !default;

// Transitions
$transition: 0.4s ease-out;

// Break points
$mobile-break: 768;
$mobile-break-max: 767px;
$ipad-break: 1024;

$header-offset: 70px;
